/*
 * Base Configuration
 * Default settings for local execution
 */

params {
    // Override with production defaults
    blast_db = '/clusterfs/jgi/scratch/science/mgs/nelli/databases/nr/nr'
    blast_hits = 20
    closest_neighbors = 10

    resources {
        run_diamond_blastp {
            threads = 8
            mem_mb = 32000
            time = '2h'
        }
        align_sequences {
            threads = 8
            mem_mb = 16000
            time = '1h'
            disk_mb = 10000
        }
        build_tree {
            threads = 8
            mem_mb = 16000
            time = '1h'
        }
        extract_hits {
            threads = 1
            mem_mb = 8000
            time = '30m'
        }
    }
}

process {
    executor = 'local'
    cpus = 16
    memory = '32 GB'
}